.form-container {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section svg {
  transform: scale(5);
  color: #852b97;
}
