.App {
  background-color: #faf9fa;
  padding: 20px 20%;
  height: 100%;
}

:root {
  --primary-color: #852b97;
}

@media (max-width: 1200px) {
  .App {
    padding: 20px 10%;
  }
}

@media (max-width: 1000px) {
  .App {
    padding: 20px 5%;
  }
}
